body{
	overflow-y: scroll;
	background-color: black;
}
.menu-container{
	width: 100%;
	background-color: black;
	height: 70px;
	position:fixed;
	top:0;
	left: 0;
	z-index: 1000;
	}

.menu-container ul{
	float: right;
	margin-right: 10px;
	right: 10px;
}

.menu-container ul li{
	color: white;
	border-left: 1px solid white;
	float: left;
	list-style: none;
	width: 120px;
	text-align: center;
	display: block;
	
	font-size: 20px;
	padding: 10px;
	}

.menu-container ul li:hover{
	border: 1px solid pink;
	border-radius: 5px;
	}
.menu-container ul li a{
	text-decoration:none; 
}
.bg-image{
	max-width: 100%;
	height: 400px;
	border:1px solid black;
	background-image: url('./Weather_forecast/images/Stormy.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	
}

.search-bar{
display: inline-block;	
position:relative;
top: 100px;
width: 60%;
float: right;
margin-right: 10px;
}
.search-bar #div1{
	position: absolute;
	float: right;
	height: 20px;
	top:70px;
	right: 35px;
}
a{
	font-size: 20px;
}
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
.search-bar #btn{
	border-radius: 10px;
	height: 40px;
	width: 15%;
	background-color: rgba(185,62,80,0.9);
	font-size: 15px;
	color: white;
	margin-left: 0px;
	border: none;
}
input[type=search]{
	width: 80%;
	background-color: rgba(248,250,183,0.6);
	/*border: 2px solid red;*/
	color: white;
	font-size: 15px;
	border-radius: 10px;
	height: 40px;
	margin-right: 0px;
	border: none;
}

.weather-field{
	width: 80%;
	height: 400px;
	/*border: 1px solid white;*/
	position: relative;
	background-color: rgba(233, 200, 219, 0.4);
	top: 200px;
	margin:auto;
	white-space: nowrap;
	text-align: center;
}
.weather-field #city_name{
	width: 60%;
	height: 15%;
	/*border: 1px solid black;*/
	display: block;
	text-align: right;
	font-size: 60px;
	color: white;
}

.weather-field #picture{
	max-width: 300px;
	height: 300px;
	/*border: 1px solid white;*/
	display: inline-block;
	position: absolute;
	top: 100px;
	left: 10px;
}

.weather-field #descript{
	width: 250px;
	height: 80%;
	/*border: 1px solid black;*/
	display: inline-block;	
	color: white;
	font-size: 50px;
	position:absolute;
	bottom: 0px;
	left:300px;
}
.weather-field #temperature1{
	width: 250px;
	height: 80%;
	color: white;
	/*border: 1px solid black;*/
	font-size: 200px;
	display: inline-block;	
	position:absolute;
	bottom: 0px;
	right:100px;
	padding-right: 60px;
}
.day5weather-field{
	display: block;
	/*border: 1px solid black;*/
	width: 80%;
	height: 400px;
	position: relative;
	background-color: transparent;
	top: 500px;
	margin:auto;
	white-space: nowrap;
	text-align: center;

}

#text{
	position: relative;
	top: 400px;
	right: 100px;
	font-size: 25px;
	font-family: "Times New Roman";
	float: right;
	color: white;
}
.day5weather-field div{
	position: relative;
	top: 10px;
	height: 300px;
	width: 195px;
	margin: 5px;
	display: inline-block;
	border-radius: 10px;
	background-color: rgba(233, 200, 219, 0.4);

}

/*.day5weather-field div div{
	position: relative;
	width: 90%;
	height: 200px;
	margin: 10px;
	display: block;
	border-radius: 10px;
	background-color: rgba(233, 200, 219, 0.4);
}*/


@media screen and (max-width: 1024px){
.weather-field #city_name{
	width: 60%;
	height: 15%;
	/*border: 1px solid black;*/
	display: inline-block;
	text-align: left;
	font-size: 40px;
	color: white;
	padding-left: 20px;
}
.weather-field #picture{
	width: 60%;
	height: 70%;
	display: inline-block;
	bottom: 0;
}
.weather-field #descript{
	width: 40%;
	height: 50%;
	display: inline;
	color: white;
	font-size: 30px;
	position:absolute;
	top: 0px;
	left: 60%;
	padding-right: 40px;
	padding-top: 40px;

}
.weather-field #temperature1{
	width: 40%;
	height: 50%;
	color: white;
	/*border: 1px solid black;*/
	font-size: 50px;
	display: inline-block;	
	position:absolute;
	bottom: 0px;
	right:0px;
	padding-right: 40px;
	padding-top: 40px;
}

.bg-image{
	max-width: 100%;
	height: 700px;
	border:1px solid black;
	background-image: url('E:/test/Weather_forecast/images/Stormy.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	
}
.day5weather-field{
	display: block;
	/*border: 1px solid black;*/
	width: 80%;
	height: 400px;
	position: relative;
	background-color: transparent;
	top: 500px;
	margin:auto;
	white-space: nowrap;
	text-align: center;

}
.day5weather-field div{
	position: relative;
	top: 10px;
	height: 300px;
	width: 80%;
	margin: 5px;
	display: block;
	border-radius: 10px;
	background-color: rgba(233, 200, 219, 0.4);

}


}
